@* Reporte: Ventas por producto *@
<div class="table-responsive mb-4">
    <table class="table table-striped align-middle" id="tablaProducto">
        <thead class="table-light">
            <tr>
                <th>Producto</th>
                <th class="text-end">Cantidad vendida</th>
                <th class="text-end">Monto total (Q)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<canvas id="chartProducto" height="120"></canvas>
