@* Reporte: Ventas por cliente *@
<div class="table-responsive mb-4">
    <table class="table table-striped align-middle" id="tablaCliente">
        <thead class="table-light">
            <tr>
                <th>Cliente</th>
                <th class="text-end">Transacciones</th>
                <th class="text-end">Monto total (Q)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<canvas id="chartCliente" height="120"></canvas>
